
<!--<router-outlet></router-outlet>-->
<body>
    <div class="title">
        <h2>Indicadores</h2>
    </div>
    <div class="contenedor">
        <div class="section">
            <app-dolar-intercambio></app-dolar-intercambio>
        </div>
        <div class="section">
            <app-view-uf></app-view-uf>
        </div>
        <div class="section">
          <app-euro></app-euro>
        </div>
    
        <div class="section">
            <app-imacec></app-imacec>
        </div>
            
        <div class="section">
            <app-ipc></app-ipc>
        </div>
          
        <div class="section">
            <app-utm></app-utm>
        </div>   
    
        <div class="section">
            <app-view-dolar></app-view-dolar>
        </div>
            
        <div class="section">
            <app-view-ipv></app-view-ipv>
        </div> 
    </div>
</body>


    
